:root {
  --color-layer: rgba(0, 0, 0, 0.075);
  --theme-color-uibg: #0C3980;
  --theme-color-darkblue: #102D69;
  --theme-color-lightblue: #00B0F0;
  --theme-color-yellow: #FFD200;
  --theme-color-pink: #f797ce;
  --padding-micro: 2px;
  --padding-min: 5px;
  --padding-medium: 10px;
  --padding-max: 20px;
  --padding-macro: 30px;
}
.vstack,
body,
.pass-card {
  display: flex;
  flex-direction: column;
}
.hstack,
div:has(> input[type="radio"]),
div:has(> input[type="checkbox"]),
div:has(> label[for*="radio"]),
div:has(> label[for*="checkbox"]),
nav,
#buttons {
  display: flex;
  flex-direction: row;
}
.vscroll {
  overflow-y: scroll;
}
.hscroll {
  overflow-x: scroll;
}
.material-box,
button {
  background-color: var(--color-layer);
  padding: var(--padding-medium);
  gap: var(--padding-medium);
  border-radius: var(--padding-medium);
}
.material-box:has(> .material-box) {
  border-radius: calc(2 * var(--padding-medium));
}
.material-box:has( > .material-box:has(> .material-box)) {
  border-radius: calc(3 * var(--padding-medium));
}
.material-box:has( > .material-box:has( > .material-box:has(> .material-box))) {
  border-radius: calc(4 * var(--padding-medium));
}
.material-box:has( > .material-box:has( > .material-box:has( > .material-box:has(> .material-box)))) {
  border-radius: calc(5 * var(--padding-medium));
}
.material-border {
  border-style: solid;
  border-width: 2px;
  border-color: var(--theme-color-uibg);
}
button {
  cursor: pointer;
  background-color: var(--theme-color-uibg);
  color: white;
}
button:disabled {
  opacity: 0.6;
  color: rgba(255, 255, 255, 0.6);
}
button:active {
  background-color: var(--theme-color-yellow);
}
div:has(> input[type="radio"]),
div:has(> input[type="checkbox"]),
div:has(> label[for*="radio"]),
div:has(> label[for*="checkbox"]) {
  width: fit-content;
  align-items: baseline;
}
body {
  height: 100dvh;
  /*background-image: url("../src/_reference/home.png");
	background-repeat: no-repeat;
	background-size: contain;
	*/
}
.shadow,
nav,
.pass-card,
#buttons button {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}
nav {
  box-sizing: border-box;
  max-width: 100%;
  height: 144px;
  padding-inline: calc(2 * var(--padding-max));
  align-items: center;
  justify-content: space-between;
  background-color: var(--theme-color-uibg);
}
nav img {
  height: 60px;
}
#pass-cards-carousel {
  margin-block: var(--padding-medium);
  margin-inline: var(--padding-max);
}
.pass-card {
  --card-color: var(--theme-color-yellow);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --text-small: 25px;
  --text-medium: 30px;
  --text-large: 40px;
  --text-bigger: 4px;
  --hr-width: 2px;
  align-items: center;
  overflow: hidden;
  color: white;
  background-color: var(--card-color);
  border-color: var(--card-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 44px;
}
.pass-card p {
  margin: 0;
}
.pass-card .logo {
  height: 102px;
  margin-block: 17px;
}
.pass-card .validity-label-container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-block: 7px;
}
.pass-card .validity-label-container::before,
.pass-card .validity-label-container::after {
  content: '';
  width: 100px;
  height: 75px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 1;
}
.pass-card .validity-label-container::before {
  border-radius: 0 15px 15px 0;
}
.pass-card .validity-label-container::after {
  border-radius: 15px 0 0 15px;
}
.pass-card .validity-label-container.valid-pass::before,
.pass-card .validity-label-container.valid-pass::after {
  background-image: url("../src/check.png");
  background-color: #7cba4a;
}
.pass-card .validity-label-container.expired-pass::before,
.pass-card .validity-label-container.expired-pass::after {
  background-image: url("../src/xmark.png");
  background-color: #B20808;
}
.pass-card .validity-label {
  font-size: var(--text-medium);
  text-transform: uppercase;
  margin: 0;
}
.pass-card .idcard-number {
  font-size: var(--text-medium);
  text-wrap: nowrap;
  text-transform: uppercase;
  margin-block-start: 14px;
  margin-inline-start: auto;
  margin-inline-end: 40px;
}
.pass-card .divider {
  width: 100%;
  border-width: var(--hr-width);
}
.pass-card .route-title {
  font-size: var(--text-medium);
  text-transform: uppercase;
  margin-block-start: 4px;
}
.pass-card .route {
  font-size: calc(var(--text-large) + var(--text-bigger));
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2em;
  margin-block-end: 20px;
}
.pass-card .idcard-container {
  display: grid;
  grid-template-rows: 1fr 80px;
  grid-template-columns: 65% 35%;
  width: calc(100% - 28px);
  overflow: hidden;
  color: black;
  background-color: #E0EBEF;
  border-radius: 50px;
}
.pass-card .idcard-container .idcard-detailscontainer {
  grid-area: 1 / 1;
  font-size: var(--text-large);
  text-transform: uppercase;
  margin-block: 42px;
  margin-inline-start: 28px;
}
.pass-card .idcard-container .idcard-detailscontainer .idcard-details {
  line-height: 1.2em;
}
.pass-card .idcard-container .idcard-detailscontainer .idcard-details:last-child {
  margin-block-end: 0;
}
.pass-card .idcard-container .idcard-detailscontainer .idcard-passperiod {
  font-size: var(--text-medium);
}
.pass-card .idcard-container .idcard-photo-container {
  grid-area: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background-color: white;
}
.pass-card .idcard-container .idcard-stripes-container {
  grid-area: 2 / 1 / 2 / 3;
}
.pass-card .idcard-container .idcard-stripes-container.valid-pass {
  background-color: #79BF83;
  background-image: linear-gradient(90deg, #468553, #87c18f, #468553);
}
.pass-card .idcard-container .idcard-stripes-container.expired-pass {
  background-color: #FF1A1A;
}
.pass-card .idcard-container .idcard-stripes-container .idcard-stripes {
  --stripe-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
  background-size: 200%;
  background-image: repeating-linear-gradient(108deg, transparent 0%, transparent 2%, var(--stripe-color) 2.2%, var(--stripe-color) 3%, transparent 3.2%, transparent 5.2%);
}
.pass-card .idcard-container .idcard-stripes-container.valid-pass .idcard-stripes {
  animation: stripes-scroll 10s linear forwards infinite;
}
@keyframes stripes-scroll {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}
.pass-card .details-container {
  font-size: var(--text-small);
  width: calc(100% - 76px);
  align-items: center;
  gap: 36px;
  margin-block: 14px;
}
.pass-card .details-container div {
  width: 50%;
}
.pass-card .details-container hr {
  margin: 0;
  height: 100%;
  height: 100px;
  border-width: var(--hr-width);
}
.pass-card .details-container .details {
  line-height: 1.1em;
  text-transform: capitalize;
}
.pass-card .holder-name {
  font-size: var(--text-medium);
  text-transform: uppercase;
  text-wrap: nowrap;
  margin-block-start: -5px;
}
.pass-card .holder-taxID {
  font-size: var(--text-small);
  text-wrap: nowrap;
  margin-block-start: -5px;
}
.pass-card .qrcode {
  aspect-ratio: 1;
  background-color: white;
  margin-block: 10px;
  padding: 15px;
}
.pass-card .info {
  width: 100%;
  font-size: 24px;
  text-wrap: nowrap;
  line-height: 1.1em;
  color: black;
  padding-inline: 38px;
  box-sizing: border-box;
  background-color: #DCE5E7;
}
#pass-cards-dots {
  width: fit-content;
  margin-block-start: auto;
  margin-block-end: 100px;
  margin-inline: auto;
}
.pass-card-dot {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--theme-color-uibg);
}
#buttons {
  width: 100%;
  justify-content: space-around;
  margin-block-end: 100px;
}
#buttons button {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}
#buttons #archive-button {
  background-image: url("../src/history.png");
}
#buttons #IDCard-selector-button {
  background-image: url("../src/IDCard.png");
}
#buttons #IDCard-add-button {
  background-image: url("../src/plus.png");
}
/*# sourceMappingURL=index.css.map */